[submodule "vendor/github.com/Azure/azure-amqp-common-go"]
	path = vendor/github.com/Azure/azure-amqp-common-go
	url = git@github.com:Azure/azure-amqp-common-go
[submodule "vendor/github.com/Azure/azure-event-hubs-go"]
	path = vendor/github.com/Azure/azure-event-hubs-go
	url = git@github.com:devigned/azure-event-hubs-go
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = git@github.com:dgrijalva/jwt-go
[submodule "vendor/github.com/opentracing/opentracing-go"]
	path = vendor/github.com/opentracing/opentracing-go
	url = git@github.com:opentracing/opentracing-go
